* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('img/grass.jpg') center/cover no-repeat;
    overflow: hidden;
}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.score {
    position: absolute;
    color: white;
    padding: 20px;
    user-select: none;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.result {
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

.result .content {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h2 {
    font-size: 50px;
    font-weight: 700;
}

.content p {
    color: #777;
    font-size: 24px;
    margin: 20px 0;
}

.content .btn {
    width: 80%;
}

.content .btn button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(0, 119, 255);
    color: white;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.status-bar {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.ammo, .lives {
    margin-bottom: 5px;
}